.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 70px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.icon {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  margin-top: -30px;
  margin-left: -20px;
}

.title {
  font-size: 1.25rem;
  margin: 10px 0;
  margin-top: -20px;
}

.divider {
  width: 40%;
  height: 3px;
  background-color: rgb(255, 0, 217);
  margin: 0 auto 10px;
}

.description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5; /* Radavstånd för jämn layout */
  max-height: calc(
    1.5em * 4
  ); /* Begränsa till 4 rader (radhöjd gånger antal rader) */
  overflow: hidden; /* Dölj överskottstext */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Begränsa antalet rader till 4 */
  -webkit-box-orient: vertical; /* Vertikal orientering för box */
  word-wrap: break-word; /* Tillåt brytning av långa ord */
}
@media (max-width: 480px) {
}
@media (max-width: 768px) {
  .grid{
    display: flex;
    flex-direction: column;
  }
 
  
}
@media (max-width: 991px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1439px) {
}
