.container {
  padding: 20px;
  text-align: center;
  background-color: rgb(241, 247, 250);
}

.header {
  margin-bottom: 40px;
}

.carouselSection {
  display: flex;
  flex-direction: column; /* Kolumner */
  align-items: center; /* Centrera innehållet */
  background-color: #f5f5f5;
  padding: 40px 20px;
  gap: 40px; /* Mellanrum mellan karuseller */
}

.column {
  width: 100%; /* Använd hela tillgängliga bredden */
  max-width: 800px; /* Begränsa bredden för större skärmar */
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Mellanrum mellan karuseller */
}
