@tailwind base;
@tailwind components;
@tailwind utilities;

/* FÄRG
loggans färg: #342755 och ljusa #2645A2 och mjörkblå #1e367d
text-bg  #3583d2, ljusblå - #1e367d, lite mörkare -  #346AB4
mellanslag: &nbsp; bodys: ljusblå azure.
background-color: rgb(241, 247, 250);
 #f9f9f9
#F5F8EF
#ECF3EC

TEXT 
font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #3583d2;
  color: white;
  border-radius: 8px;

*/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #342755;
  font-size: 2.8rem;
}
h2 {
  color: #1e367d;
  font-size: 1.8rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden; /* Dölj baksidan av elementen när de roterar */
}
